
    
    

.display {
  background-color: rgb(162, 175, 185);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 300px;
  height: 70px;
  display: block;
  font-size: 50px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  
  font-family: 'ds-digitalnormal';
  overflow: auto;
   

  
}

.box {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  display: grid;
  background-color: rgba(255, 255, 255, 0.877);
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  margin: auto;
}

#btn1 {
  grid-column: 1/1;
  grid-row: 2/2;
}
#btn2 {
  grid-column: 2/2;
  grid-row: 2/2;
}
#btn3 {
  grid-column: 3/3;
  grid-row: 2/2;
}
#btn4 {
  grid-column: 1/1;
  grid-row: 3/3;
}
#btn5 {
  grid-column: 2/2;
  grid-row: 3/3;
}
#btn6 {
  grid-column: 3/3;
  grid-row: 3/3;
}
#btn7 {
  grid-column: 1/1;
  grid-row: 4/4;
}
#btn8 {
  grid-column: 2/2;
  grid-row: 4/4;
}
#btn9 {
  grid-column: 3/3;
  grid-row: 4/4;
}
#btn0 {
  grid-column: 2/2;
  grid-row: 5/5;
}
#btnClear {
  grid-column: 1/1;
  grid-row: 1/1;
}
#btnMultiply {
  grid-column: 4/4;
  grid-row: 4/4;
}
#btnAdd {
  grid-column: 4/4;
  grid-row: 2/2;
}
#btnSubtraction {
  grid-column: 4/4;
  grid-row: 3/3;
}

#btnBackspace {
  font-size: 40px;
  grid-column: 3/5;
  grid-row: 1/1;
  text-align: center;
  padding: 0px 0px;
}

#btnComma {
  grid-column: 3/3;
  grid-row: 5/5;
  
}
#btnEqual {
  grid-column: 1/1;
  grid-row: 5/5;
}
#btnDivide {
  grid-column: 4/4;
  grid-row: 5/5;
}

.btn {
  background-color: rgba(0, 119, 255, 0.5);
  border-radius: 15px;
  border-style: groove;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.158);
  font-size: 40px;
  margin: 2px;
  font-family: 'ds-digitalnormal';
  transition: 0,5s all;
  color:white;   
}

.btnNumber {
  color:white;
  background-color: rgba(67, 78, 78, 0.973);
}
.btn:active {
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.568) ;
}

.btnFunction {
  color: white;
  background-color: gray;
}

#btnClear {
  color: white;
  background-color: rgba(182, 0, 0, 0.795);
}
.wraper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  background-color: rgba(0, 0, 0, 0.842);
  display:block;
  width: min-content;
  border-radius: 20px;
  border-width: 10px;
  border-style: groove;
  padding-top: 7px;
}